@import './header.css';
@import './logo.css';
@import './dropdown.css';
@import './intro-image.css';
@import './category.css';
@import './polaroid-image.css';
@import './post-preview.css';

body {
  padding: 0;
  margin: 0;
}

strong {
  font-family: 'Montserrat-Bold', sans-serif;
}


h3 {
  font-family: 'Montserrat-Bold';
}

.action-message {
  display: flex;
  gap: 10px;
  margin-bottom: 32px;
}

.action-message h1 {
  font-family: 'GloriaHallelujah-Regular', 'sans-serif';
  margin-left: 1em;
  padding: 0 0.5em 0 0.5em;
  text-transform: uppercase;
}

.posts-list {
  padding: 0;
}

.blogpost-header {
  display: flex;
  align-items: center;
  gap: 1em;
}

.blogpost-header h1 span {
  padding: 0 0.5em 0 0.5em;
  text-transform: uppercase;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 50%,
    rgba(193, 222, 219, 1) 50%,
    rgba(193, 222, 219, 1) 100%
  );
}

.blogpost-description, .blogpost-body {
  font-family: 'Montserrat-Regular', sans-serif;
  color: #5d727e;
}

.blogpost-body {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.blogpost-body p, .blogpost-body h2, .blogpost-body pre {
  grid-column: 1;
}

.blogpost-body figure {
  grid-column: 2;
}

.action-message img {
  align-self: flex-end;
  width: 1.3em;
}

.home-page, .full-post{
  margin: 0 48px;
}

.full-post .post-date {
  font-family: 'Montserrat-Light', sans-serif;
  color: #5d727e;
  font-size: 0.8rem;
  margin:0;
}

.full-post h1 {
  margin: 2rem 0 0.5rem;
}

h1,
h2,
h3,
h4 {
  display: inline;
  max-width: fit-content;
  font-family: 'Montserrat-Bold', 'sans-serif';
  padding: 0 0.5rem;
  color: #5d727e;
}

h2 {
  line-height: 20px;
  background-size: 100% 20px;
}

h2,
.yellow-underline, .action-message h1 {
  background: linear-gradient(
    180deg,
    transparent,
    transparent 50%,
    rgba(255, 229, 164, 1) 50%,
    rgba(255, 229, 164, 1) 
  ); 
}


@media screen and (max-width: 600px) {
  .action-message h2 {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  h1{
    font-size: 24px;
  }

  h2{
    font-size: 20px;
  }

  .home-page, .full-post{
    margin: 0 16px;
  }

  .full-post .blogpost-body {
    margin-top: 32px;
    gap: 1rem;
  }

  .blogpost-body {
    display: flex;
    flex-direction: column;
  }
}

@font-face {
  font-family: 'GloriaHallelujah-Regular';
  src: url(/assets/fonts/GloriaHallelujah/GloriaHallelujah-Regular.woff2)
    format('woff2');
}

@font-face {
  font-family: 'Montserrat-Light';
  font-weight: 300;
  src: url(/assets/fonts/Montserrat/Montserrat-Light.woff2) format('woff2');
}

@font-face {
  font-family: 'Montserrat-Regular';
  font-weight: 400;
  src: url(/assets/fonts/Montserrat/Montserrat-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Montserrat-Medium';
  font-weight: 500;
  src: url(/assets/fonts/Montserrat/Montserrat-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  font-weight: 600;
  src: url(/assets/fonts/Montserrat/Montserrat-SemiBold.woff2) format('woff2');
}

@font-face {
  font-family: 'Montserrat-Bold';
  font-weight: bold;
  src: url(/assets/fonts/Montserrat/Montserrat-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  font-weight: 800;
  src: url(/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2) format('woff2');
}
