@import './header.css';
@import './logo.css';
@import './dropdown.css';
@import './intro-image.css';
@import './category.css';
@import './polaroid-image.css';
@import './post-preview.css';
@import './about-me.css';
@import './contact.css';
@import './up-button.css';

body {
  padding: 0;
  margin: 0;
}

strong {
  font-family: 'Montserrat-Bold', sans-serif;
}

p {
  font-family: 'Montserrat-Regular', sans-serif;
  color: #5d727e;
  line-height: 1.5em;
}

h3 {
  font-family: 'Montserrat-Bold';
}

article, .home-page, .content {
  max-width: 80rem;
  margin: auto;
}

.full-post a:link, .about-me a:link {
  color: #5d727e;
  text-decoration: none;
  background-image: linear-gradient(transparent calc(100% - 0.45em), #B1D4E0 0),
    linear-gradient(transparent calc(100% - 0.45em), #D7EBF2 0);
  background-repeat: no-repeat;
  background-size: 0 100%, 100% 100%;
}

.full-post a:visited, .about-me a:visited {
  color: #3E4D56;
}

.full-post a:visited, .full-post a:hover, .full-post a:active, .about-me a:visited, .about-me a:hover, .about-me a:active{
  background-size: 100% 100%, 100%, 100%;
}


.action-message {
  display: flex;
  gap: 10px;
  margin-bottom: 32px;
}

.action-message h1 {
  font-family: 'GloriaHallelujah-Regular', 'sans-serif';
  margin-left: 1em;
  padding: 0 0.5em 0 0.5em;
  text-transform: uppercase;
}

.posts-list {
  padding: 0;
}

.blogpost-header {
  display: flex;
  align-items: center;
  gap: 1em;
}

.blogpost-header h1 span {
  padding: 0 0.5em 0 0.5em;
  text-transform: uppercase;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 50%,
    rgba(193, 222, 219, 1) 50%,
    rgba(193, 222, 219, 1) 100%
  );
}

.blogpost-description, .blogpost-body {
  font-family: 'Montserrat-Regular', sans-serif;
  color: #5d727e;
}

.full-post .blogpost-body code:not([class*=language-]) {
  border-radius: 3px;
  padding: .2em .5em;
  margin: 0 .1em;
  border: 1px solid rgb(193, 222, 219);;
  background-color: rgba(193, 222, 219,0.5);
  color: #5d737e;

}

.full-post .blogpost-body {
  display: block;
  margin-top: 24px;
}

.full-post .blogpost-body iframe {
  width: 720px;
  height: 405px;
}

.full-post h2 {
  display: block;
  margin: 3.5rem 0 2rem;
}

.full-post .blogpost-body h3 {
  margin: 1.5rem 0 1rem 0;
}

.full-post .blogpost-body p {
  margin-bottom: 1rem;
}

.full-post h2:first-of-type, .full-post figure:first-of-type {
  margin-top: 3rem;
}

.full-post figure {
  float: right;
  clear: both;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
}

.full-post figure.normal {
  float: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: none;
  margin-left: 0;
}

.full-post figure.normal img {
  width: 50%;
  margin: auto;
  aspect-ratio: auto;

}

.action-message img {
  align-self: flex-end;
  width: 1.3em;
}

.full-post .post-date {
  font-family: 'Montserrat-Light', sans-serif;
  color: #5d727e;
  font-size: 0.8rem;
  margin:0;
}

.full-post h1 {
  margin: 2rem 0 0.5rem;
}

h1,
h2,
h3,
h4 {
  max-width: fit-content;
  font-family: 'Montserrat-Bold', 'sans-serif';
  padding: 0 0.5rem;
  color: #5d727e;
}

h2 {
  line-height: 20px;
  background-size: 100% 20px;
}


.action-message h1 span, h2 span{
  background: linear-gradient(
    180deg,
    transparent,
    transparent 50%,
    rgb(255, 229, 164) 50%,
    rgba(255, 229, 164, 1) 
  ); 
}


@media screen and (max-width: 600px) {
  .action-message h2 {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  h1{
    font-size: 24px;
  }

  h2{
    font-size: 20px;
  }

  article, .home-page{
    margin: 0 12px;
  }

  .full-post .blogpost-body {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    gap: 0;
  }

  .full-post .blogpost-body h2 {
    margin-bottom: 1rem;
  }

  .full-post .blogpost-body iframe {
    width: 320px;
    height: 181px;
    align-self: center;
  }

  .full-post .blogpost-body figure:first-of-type {
    margin-top: 0;
  }

  .blogpost-body {
    display: flex;
    flex-direction: column;
  }
  .full-post figure.normal img {
    width: 90%;
    margin: auto;
    aspect-ratio: auto;
  
  }
}

@font-face {
  font-family: 'GloriaHallelujah-Regular';
  src: url(/assets/fonts/GloriaHallelujah/GloriaHallelujah-Regular.woff2)
    format('woff2');
}

@font-face {
  font-family: 'Montserrat-Light';
  font-weight: 300;
  src: url(/assets/fonts/Montserrat/Montserrat-Light.woff2) format('woff2');
}

@font-face {
  font-family: 'Montserrat-Regular';
  font-weight: 400;
  src: url(/assets/fonts/Montserrat/Montserrat-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Montserrat-Medium';
  font-weight: 500;
  src: url(/assets/fonts/Montserrat/Montserrat-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  font-weight: 600;
  src: url(/assets/fonts/Montserrat/Montserrat-SemiBold.woff2) format('woff2');
}

@font-face {
  font-family: 'Montserrat-Bold';
  font-weight: bold;
  src: url(/assets/fonts/Montserrat/Montserrat-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  font-weight: 800;
  src: url(/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2) format('woff2');
}