.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown button {
  display: flex;
  gap: 5px;
  font-family: 'Montserrat-ExtraBold';
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  color: #5d727e;
  min-width: 14px;
  min-height: 8px;
  align-self: center;
  background-color: transparent;
}

.dropdown .dropdown-button.focus {
  color: #ffe5a4;
}

.dropdown .dropdown-icon {
  align-self: center;
  background-repeat: no-repeat;
  background-color: transparent;
  content: url('../../assets/images/icon-dropdown.svg');
}

.dropdown .dropdown-icon.focus {
  content: url('../../assets/images/icon-dropdown-hover.svg');
}

.dropdown-list {
  min-height: 20px;
  min-width: 120%;
  transform: translate(-50%);
  left: 50%;
  position: absolute;
  background-color: #fff9e9;
  padding: 5px 15px 5px;
  z-index: 2;
  display: none;
  text-align: center;
}

.dropdown-list.show {
  display: block;
}

.dropdown-list #dropdown-text {
  text-decoration: none;
  font-family: 'Montserrat-Medium';
  color: #5d727e;
  size: 16px;
}
