.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown button {
  display: flex;
  gap: 5px;
  font-family: 'Montserrat-ExtraBold';
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  color: #5d727e;
  min-width: 14px;
  min-height: 8px;
  align-self: center;
  background-color: transparent;
}

.dropdown .dropdown-button.focus {
  color: #ffe5a4;
}

.dropdown .dropdown-icon {
  align-self: center;
  background-repeat: no-repeat;
  background-color: transparent;
  content: url('../../assets/images/icon-dropdown.svg');
}

.dropdown .dropdown-icon.focus {
  content: url('../../assets/images/icon-dropdown-hover.svg');
}

.dropdown-list {
  min-height: 20px;
  min-width: 150px;
  transform: translate(-50%);
  left: 50%;
  position: absolute;
  background-color: #b1d4e0;
  z-index: 2;
  display: none;
  text-align: center;
}

.dropdown-list.show {
  display: flex;
  flex-direction: column;
}

.dropdown-list .dropdown-text {
  padding: 5px 25px 5px;
  text-decoration: none;
  font-family: 'Montserrat-Medium';
  color: #5d727e;
  size: 16px;
}

.dropdown-list .dropdown-text:focus {
  background-color: #fff9e9;
  min-height: 20px;
}

@media screen and (max-width: 600px) {
  .dropdown-list {
    background-color: #d3e7ee;
    min-width: 120px;
    min-height: 40px;
    position: revert;
    transform: translate(0);
    padding: 0;
  }
  .dropdown-list .dropdown-text {
    display: flex;
    justify-content: start;
  }

  .dropdown-list .dropdown-text:focus {
    background-color: #fff9e9;
  }
}
