.header {
  display: flex;
  justify-content: space-between;
  background-color: #b1d4e0;
  padding: 10px 30px 10px 30px;
}
.header .social-media {
  display: flex;
  align-items: center;
  gap: 20px;
}
.social-media img {
  display: flex;
  height: 20px;
  width: 20px;
}
.header nav {
  display: flex;
  align-items: center;
  gap: 25px;
  font-family: 'Montserrat-ExtraBold';
  font-size: 16px;
  text-transform: uppercase;
}

.header #nav-text {
  text-decoration: none;
  color: #5d727e;
}

.header #nav-text:hover {
  color: #ffe5a4;
  cursor: pointer;
}

.dropdown {
  display: flex;
  gap: 10px;
}
.dropdown button {
  border: none;
  cursor: pointer;
  min-width: 14px;
  min-height: 8px;
  align-self: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url('../../assets/images/icon-dropdown.svg');
}

.dropdown button:hover {
  background-image: url('../../assets/images/icon-dropdown-hover.svg');
}
