.header {
  display: flex;
  justify-content: space-between;
  background-color: #b1d4e0;
  padding: 0 20px;
}
.header button {
  line-height: 50px;
}

.header .social-media {
  display: flex;
  align-items: center;
  gap: 20px;
}
.social-media img {
  display: flex;
  height: 20px;
  width: 20px;
}

@media screen and (max-width: 600px) {
  .header .main-nav {
    display: none;
  }
  .header .responsive-nav {
    display: flex;
    min-height: 50px;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    border: none;
  }
  .side-menu ul {
    list-style: none;
  }
  .side-menu ul li {
    background-color: #ffe5a4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 3em;
    width: 9em;
  }
}

@media screen and (min-width: 600px) {
  .header .main-nav {
    display: flex;
    align-items: center;
    gap: 40px;
    font-family: 'Montserrat-ExtraBold';
    font-size: 16px;
    text-transform: uppercase;
  }
  .header .responsive-nav {
    display: none;
  }
}

.header #nav-text {
  text-decoration: none;
  color: #5d727e;
}

.header #nav-text:hover {
  color: #ffe5a4;
  cursor: pointer;
}
