.blogpost-preview {
  margin: 0 32px;
}

.link {
  font-family: 'Montserrat-ExtraBold';
  text-transform: uppercase;
  color: #5d727e;
}

.link:focus {
  color: #ffe5a4;
}

.blogpost-body {
  display: flex;
  gap: 24px;
  margin-top: 24px;
}

.blogpost-body p {
  margin: 0px;
}

.blogpost-footer {
  display: flex;
  justify-content: center;
  margin: 24px;
}

@media screen and (max-width: 768px) {
  .post-image {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .link {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .blogpost-preview{
    margin: 0 16px;
  }
  .blogpost-body {
    flex-direction: column-reverse;
  }
}