<div class='header'>
  <Logo />
  <nav class='main-nav {{if this.openSideMenu "side-menu"}}'>
    <LinkTo class='nav-text' @route='index'> Home </LinkTo>
    <LinkTo class='nav-text' @route='about-me'> About me</LinkTo>
    <Dropdown @title='Blog'>
      <LinkTo class='dropdown-text' @route='posts'> All Posts</LinkTo>
      <LinkTo class='dropdown-text' @route='posts.category' @model='travel'>
        Travel</LinkTo>
      <option class='dropdown-text' value='tech'> Tech </option>
    </Dropdown>
    <LinkTo class='nav-text' @route='contact'> Text me</LinkTo>

  </nav>
  <button
    class='side-menu-button'
    type='button'
    {{on 'click' this.showSideMenu}}
  >
    <img src='/assets/images/responsive-nav.svg' alt='side menu button' />
  </button>

  <div class='social-media'>
    <a
      href='https://twitter.com/inesoaresilva'
      target='_blank'
      rel='noopener noreferrer'
    >
      <img src='/assets/images/logo-twitter.svg' alt='twitter' />
    </a>
    <a
      href='https://www.linkedin.com/in/inesoaresilva/'
      target='_blank'
      rel='noopener noreferrer'
    >
      <img src='/assets/images/logo-linkedin.svg' alt='linkedin' />
    </a>
  </div>
</div>

{{yield}}