<div class='image-container'>
  {{#if @image }}
    <ResponsiveImage class="main-image" @src="/assets/images/header/{{@image}}"/>
  {{else}}
    <ResponsiveImage class="main-image" @src="/assets/images/header/intro-image.jpg"/>
  {{/if}}
</div>

{{yield}}